*{
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-family: Monserrat;
    text-decoration: none;
}

.max-width-1920 {
    max-width: 1920px;
}

.bg-grey {
    background-color: gray;
}

.bg-red {
    background-color: red;
}