* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-family: Roboto;
    text-decoration: none;
    color: white;
}

html {
    font-size: 62.5%;
}

.max-width-1920 {
    max-width: 1920px;
}

.paddinglr-60 {
    padding: 0px 6rem;
}

.bg-gray {
    background-color: rgb(15, 15, 15);
}

.bg-red {
    background-color: rgb(78, 6, 6);
}

.img-hover-white:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px #ffffff);
}

.normal {
    background-color: #9fa19f;
}

.fairy {
    background-color: #ef70ef;
}

.fighting {
    background-color: #ff8000;
}

.flying {
    background-color: #81b9ef;
}

.poison {
    background-color: #9141cb;
}

.ground {
    background-color: #915121;
}

.rock {
    background-color: #afa981;
}

.bug {
    background-color: #7f8930;
}

.ghost {
    background-color: #704170;
}

.steel {
    background-color: #60a1b8;
}

.stellar {
    background-color: #40b5a5;
}

.fire {
    background-color: #e62829;
}

.water {
    background-color: #2980ef;
}

.grass {
    background-color: #3fa129;
}

.electric {
    background-color: #fac000;
}

.psychic {
    background-color: #ef4179;
}

.ice {
    background-color: #3dcef3;
}

.dragon {
    background-color: #5060e1;
}

.dark {
    background-color: #624d4e;
}

header {
    width: 100%;
    height: 100px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .header-div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .header-left {
            color: white;
            font-size: 3rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-weight: bold;

            .logo {
                height: 10rem;
            }
        }

        .search {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            input {
                border-radius: 10px;
                height: 30px;
                color: black;
                padding: 10px;
            }

            .mag-class {
                height: 40px;
            }
        }
    }
}

main {
    width: 100%;
    min-height: calc(100vh - 80px - 130px);
    z-index: 0;
    background-image: url(./assets/img/bg-poke.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    .main-div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 80px;
        padding-bottom: 80px;

        .poke-card {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 350px;
            width: 350px;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.486);
            z-index: 0;

            .card-top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 24px;
                z-index: 2;

                h2 {
                    font-size: 24px;
                    text-transform: uppercase;
                }

                span {
                    background-color: black;
                    padding: 10px;
                    border-radius: 50%;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
                }
            }

            .card-bottom {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 60px;
                z-index: 2;

                .types {
                    padding-left: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 16px;
                    gap: 30px;

                    span {
                        padding: 10px;
                        border-radius: 10px;
                        border: solid white 2px;
                        text-align: center;
                    }
                }

                .poke-img {
                    height: 120px;
                }
            }
            .card-bg {
                background-color: black;
                height: 350px;
                width: 350px;
                bottom: 0;
                left: 0;
                z-index: 1;
                position: absolute;
                border-top-right-radius: 100%;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                border-top-left-radius: 10px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
            }
        }
        .poke-card:hover {
            cursor: pointer;
            z-index: 2;
            background-color: white;
            border: white solid 5px;
        }
    }

    .bottom-div {
        padding: 100px 0px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .button {
            background-color: rgb(61, 61, 61);
            padding: 3rem 5rem;
            font-size: 2.4rem;
            font-weight: bold;
            border-radius: 20px;
            border: solid 6px black;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
        }

        .button:hover {
            cursor: pointer;
            background-color: red;
        }
    }
    .spinner-div {
        padding-top: 100px;

        #spinner {
            margin-top: 100px;
        }
    }
}

footer {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-div {
        font-size: 20px;
    }
}

.overlay-div {
    position: fixed;
    top: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.644);
    height: 100dvh;
    width: 100%;
    align-items: center;
    justify-content: center;

    .info-sheet {
        z-index: 10001;
        height: 50vh;
        width: 55dvw;
        background-color: #4b4b4b;
        border: solid 5px #840000;
        border-radius: 20px;
        display: flex;
    }

    .left {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        z-index: 10001;
        height: 100%;
        width: 350px;
        background-color: #303030;
        z-index: 10002;
        display: flex;
        align-items: center;
        justify-content: center;

        .overlay-poke-img {
            width: 250px;
        }
    }

    .info-right {
        height: 100%;
        width: 100%;

        .close {
            height: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 10px;

            img {
                height: 40px;
            }
        }

        .info-div {
            padding: 10px 60px;

            h4 {
                font-size: 32px;
            }

            .pokeinfo-content-info {
                margin-top: 30px;

                .navigation {
                    font-size: 20px;
                    display: flex;
                    justify-content: flex-start;

                    .navi-text-highlight {
                        border-top: white solid 1px;
                        border-right: white solid 1px;
                        border-left: white solid 1px;
                        padding: 5px 60px;
                    }

                    .navi-text {
                        border-bottom: white solid 1px;
                        padding: 5px 50px;
                    }

                    .navi-text:hover {
                        cursor: pointer;
                        background-color: #840000;
                    }
                }
            }

            .overlay-info {
                height: 25vh;
                width: 100%;
                border-left: white solid 1px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 16px;
                padding: 50px;
                gap: 20px;

                .info-points {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }
            }

            .overlay-stats {
                height: 25vh;
                width: 100%;
                padding: 50px;
                font-size: 16px;
                border-left: white solid 1px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                gap: 15px;
                overflow: auto;

                .stats-row {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 10px;
                }

                .stat-label {
                    font-weight: bold;
                    width: 60%;
                }

                .svg-bar {
                    margin-left: 20px;
                    width: 100%;
                    height: 10px;
                    border-radius: 5px;
                }

                .bar-bg {
                    fill: #272727;
                }

                .bar-fill {
                    fill: #00af09;
                }

                .total {
                    margin-top: 30px;
                    font-size: 20px;
                    font-weight: bold;
                    text-decoration: underline;
                    text-align: left;
                }
            }
            
            .overlay-shiny {
                height: 25vh;
                width: 100%;
                padding: 50px;
                border-left: white solid 1px;
                display: flex;
                justify-content: center;

                img {
                    height: 100%;
                }
            }

            .arrow-div {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 20px;

                img {
                    height: 40px;
                }
            }
        }
    }
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.not-found {
    font-size: 40px;
}
